.skills{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 4rem;
}

/* right side */
.s-right{
    position: relative;
}

.s-mainCircle{
    left: 7rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 3rem;
    background: white;
}

.s-mainCircle>*{
    position: absolute;
}

.s-mainCircle>:nth-child(1){
    top: -2.5rem;
    left: 7rem;
}

.s-mainCircle>:nth-child(2){
    top: 6.5rem;
    left: -2rem;
}

.s-mainCircle>:nth-child(3){
    top: 6.5rem;
    left: 7rem;
}

.s-mainCircle>:nth-child(4){
    top: 6.5rem;
    left: 15.5rem;
}

.s-mainCircle>:nth-child(5){
    top: 15.5rem;
    left: 7rem;
}


.s-secCircle{
    width: 4rem;
    height: 4rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    box-shadow: var(--smboxShadow);
    background: white;
}

.s-secCircle>img{
    transform: scale(.7);
}

.s-backCircle{
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
}

.blueCircle{
    background: rgb(6, 6, 146);
    left: 11rem;
    top: -1rem;
}

.yellowCircle{
    background: rgb(236, 215, 25);
    left: 11rem;
    top: 7rem;
}